.learn-cases {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(317px, 1fr));
  padding-bottom: 70px;
}

.case {
  padding: 0 50px 0 50px;
}

.case:nth-child(2n - 1) {
  border-right: 1px solid var(--main-bgcolor-element);
  border-left: 1px solid var(--main-bgcolor-element);
}

.case-titel{
  padding-bottom: 20px;
}

.curse-main-text {
  max-width: 550px;
  padding: 20px 0 40px 0;
}

.dop-market {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dop-market-text {
  max-width: 593px;
}