.main-title-wrapper-pages {
  position: relative;
  margin: 100px 0;
}

.main-title-pages {
  position: relative;
  z-index: 1;
}

.elips {
  position: absolute;
}

.elips-one {
  width: 740px;
  height: 58px;
  top: 0;
  right: 0;
  background: rgba(111, 245, 29, 0.7);
  filter: blur(75px);
}

.elips-two {
  width: 740px;
  height: 58px;
  right: calc(100% / 1178 * 137);
  top: 14px;
  background: rgba(235, 0, 255, 0.5);
  filter: blur(75px);
}