@media screen and (max-width: 768px) {
  .contacts-button {
    font-size: 3em;
  }

  .new-level-title,
  .dc-group-title,
  .about-us-title,
  .curses-title,
  .works-title,
  .reviews-title,
  .questions-title {
    font-size: var(--font-size30);
  }
}

@media screen and (max-width: 497px) {
  .main-title {
    font-size: clamp(21px, 6.5vw, var(--font-size96));
  }
}

@media screen and (max-width: 480px) {
  .main-title-button-text {
    font-size: 10px;
  }

  .new-level-title,
  .dc-group-title,
  .about-us-title,
  .curses-title,
  .works-title,
  .reviews-title,
  .questions-title {
    font-size: 18px;
  }
}