.main-title {
  padding-top: 50px;
}

.main-title-line {
  display: block;
}

.word {
  display: inline-block;
  width: min(297px, 25vw);
  border: 4px solid var(--neon-green);
  border-radius: 50px;
}

.main-title-button {
  display: inline-block;
  position: relative;
  border: 1px solid var(--main-bgcolor-element);
  border-radius: 50px;
  height: 70px;
  background-color: var(--main-bgcolor-element);
  cursor:pointer;
  transition: background-color .3s ease;
}

.title-button-text-arrow {
  width: min(16px, 10%);
}

.word,
.main-title-button,
.main-title-icons {
  height: min(70px, 5.5vw);
}

.main-title-button {
  width: min(340px, 25vw);
}

.title-button-text-arrow {
  margin-left: 12px;
  cursor: pointer;
}

.main-title-button-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-title-icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
}

.main-title-icon {
  width: 7vw !important;
}

.separator-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-separator);
  margin: 60px auto;
}

.new-level {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.new-level-cards {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 50px 30px;
}

.new-level-card {
  position: relative;
  max-width: 260px;
}

.new-level-card:nth-child(1):after, .new-level-card:nth-child(2):after {
  content: '';
  position: absolute;
  display: block;
  width: 74px;
  height: 2px;
  background-color: var(--main-bgcolor-element);
  bottom: -25px;
}

.new-level-card-title {
  padding-bottom: 10px;
}

.e-commerce {
  display: grid;
  grid-template-columns: minmax(554px, auto) minmax(320px, 594px);
  grid-template-rows: repeat(4, minmax(57px, auto));
  gap: 0 70px;
  justify-content: center;
  padding-top: 80px;
}

.commerce {
  grid-area: 1/1/5/2;
}

.dc-group-title {
  grid-area: 1/2/2/2
}

.dc-group-title-color {
  color: var(--main-bgcolor-element);
}

.dc-group-text {
  padding: 12px 0 25px 0;
  max-width: 460px;
  grid-area: 2/2/3/2;
}

.for-biginners {
  border: 1px solid #4A4A4A;
  padding: 30px;
}

.for-biginners:first-of-type {
  margin-bottom: 17px;
}

.for-biginers-list {
  padding-left: 15px;
  list-style: disc;
}

.for-biginers-item {
  padding-top: 10px;
}

.for-biginers-title {
  color: var(--main-bgcolor-element);
}

.about-us {
  padding-top: 140px;
  text-align: center;
}

.about-us-title {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.about-us-title::before,
.about-us-title::after {
  content: '';
  display: inline-block;
  background-image: url('./../../../image/png/star.png');
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.about-us > .separator-line {
  margin: 0;
}

.about-us >.separator-line:first-child {
  margin: 0;
  margin-bottom: 50px;
}

.about-us>.separator-line:last-child {
  margin-top: 30px;
}

.curses {
  padding-top: 140px;
}

.curses-wrapper > .separator-line {
  margin: 40px 0 40px 0;
}

.curses > .separator-line:last-child {
  margin: 40px 0 0 0;
}

.curses-shop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 554px));
  grid-gap: 70px;
}

.curses-wrapper {
  padding-top: 50px;
}

.curses-info {
  grid-area: 1/2;
}

.curses-info-text {
  max-width: 588px;
  padding: 20px 0 60px 0;
}

.curses-button {
  width: min(280px, 100%);
  height: 58px;
  background-color: var(--main-bgcolor-element);
  color: var(--color-white);
  gap: 12px;
  grid-area: 1/2;
  margin-top: auto;
}

.works-title .word {
  width: 95px;
  height: 39px;
  border: 8px solid #EB00FF;
  border-radius: 50px;
}

.help-list {
  display: flex;
  flex-direction: column;
  counter-reset: item;
}

.help-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--main-bgcolor-element);
}

.help-list-item-text {
  padding: 0 30px;
}

.help-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.help-list-item:nth-child(-n + 4):after {
  content: '0' counter(item);
  display: block;
  background-color: var(--main-bgcolor-element);
  counter-increment: item;
  padding: 40px 40px;
}

.works {
  display: grid;
  grid-template: repeat(4, 100px) / minmax(320px, 540px) minmax(320px, 594px);
  column-gap: 85px;
  row-gap: 20px;
  padding: 95px 0 140px 0;
}

.works-title {
  grid-area: 1/1/3/2;
}

.works-title-color {
  display: block;
  color: var(--main-bgcolor-element);
}

.help {
  grid-area: 1/2/6/3;
}

.consult {
  display: flex;
  align-items: last baseline;
  justify-content: flex-end;
  grid-area: 3/1/4/2;
  cursor: pointer;
  transition: color .3s ease;
}

.reviews {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  padding-top: 140px;
  padding-bottom: 80px;
}

.review {
  height: 430px;
  overflow-y: hidden;
}

.open-reviews {
  height: 100% !important;
}

.reviews-title {
  flex-basis: 0;
  padding-bottom: 30px;
}

.reviews-container {
  flex-basis: 594px;
  margin: auto;
}

.review-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 0;
  top: 0;
  padding: 20px 30px;
  background-color: var(--bg-review-color);
  max-height: 129px;
  overflow-y: hidden;
  cursor: pointer;
}

.student-name {
  padding-top: 10px;
}

.review-card:not(:last-child) {
  margin-bottom: 20px;
}

.avatar {
  border-radius: 50%
}

.review-text-wrapper {
  width: min(45vw, 379px);
}

.review-text-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.show-reviews-button {
  text-align: center;
  padding-top: 35px;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.close > .title-button-text-arrow {
  transform: rotate(-90deg);
}

.about-us-button,
.all-reviews {
  cursor: pointer;
  transition: color .3s ease;
}

.about-us-text {
  padding-top: 20px;
  height: 0;
  overflow-y: hidden;
}

.targets-item {
  margin-bottom: 10px;
}

.targets-item::marker {
  color: var(--main-bgcolor-element)
}

.about-us-text-targets {
  text-align: left;
}

.targets-item-title {
  margin-top: 20px;
}

.targets-wrapper {
  display: flex;
  justify-content: center;
}

.dc-group-color {
  color: var(--main-bgcolor-element)
}

.show-text {
  height: 100%;
}

.show-text {
  height: 100%;
}

.underline {
  display: block;
  text-decoration: underline;
  text-transform: uppercase;
  padding-top: 10px;
}

.questions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.qustions-title-block {
  flex-basis: 360px;
}

.questions-form-block {
  flex-basis: 594px;
}

.questions-title {
  padding-bottom: 20px;
}

.btn-submit {
  width: 100%;
  height: 58px;
  margin-top: 35px;
}

.footer-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  padding: 80px 0 40px 0;
}

.contact {
  background-color: var(--main-bgcolor-element);
  padding: 30px;
}

.subscribe {
  background-color: var(--bg-review-color);
  padding: 30px;
}

.contact-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(186px, 186px));
  grid-gap: 10px;
}

.contact-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 183px;
  height: 39px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 20px;
  text-decoration: none;
  transition: background-color .3s ease;
}

.contact-link > .button-arrow-violet {
  width: 10px;
  height: 10px;
}

.mail-link {
  display: inline-block;
  position: relative;
  color: var(--color-white);
  text-decoration: none;
  padding: 10px 0 20px 0;
}

.mail-link::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  bottom: 15px;
  height: 1px;
  background-color: var(--color-white);
  transition: width .3s ease;
}

.subscribe-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;
  gap: 50px;
}

.subscribe-text {
  flex-basis: 231px;
}