@media screen and (max-width: 1200px) {
  .questions {
    justify-content: center;
  }

  .qustions-title-block {
    flex-basis: 100%;
    text-align: center;
  }

  .questions-hint {
    display: block;
    padding-bottom: 60px;
  }

  .work {
    padding: 40px 0 20px 0;
  }

  .reviews {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .e-commerce {
    grid-template-columns: 320px minmax(320px, auto);
    gap: 0 35px;
    padding-top: 20px;
  }

  .commerce {
    grid-area: 3/1/5/1;
  }

  .about-us {
    padding-top: 70px;
  }

  .curses {
    padding-top: 80px;
  }

  .curses-title {
    text-align: center;
  }

  .dc-group-title {
    text-align: center;
    grid-area: 1/1/2/3;
  }

  .dc-group-text {
    max-width: 100%;
    text-align: center;
    grid-area: 2/1/3/3;
    padding: 12px 0 50px 0;
  }

  .input-email {
    flex: 1 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .big-word {
    bottom: 70px;
  }

  .separator-line {
    margin: 30px auto;
  }

  .new-level {
    padding-top: 20px;
  }

  .new-level-cards {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    justify-content: center;
    padding-top: 20px;
    grid-gap: 30px 30px;
  }

  .new-level-cards>.new-level-card::after {
    display: none;
  }

  .new-level-card {
    border: 1px solid var(--main-bgcolor-element);
    padding: 15px;
    max-width: 100%;
  }

  .button-arrow-white,
  .button-arrow-violet {
    width: 13px;
    height: 12px;
  }

  .new-level {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .e-commerce {
    display: flex;
    flex-direction: column;
  }

  .commerce {
    display: flex;
    align-items: center;
    order: 2;
  }

  .e-commerce>.for-biginners:first-of-type {
    margin-top: 17px;
    order: 3;
  }

  .e-commerce>.for-biginners:last-child {
    order: 4;
  }

  .curses {
    padding-top: 80px;
  }

  .curses-shop {
    display: block;
  }

  .curses-info {
    padding-top: 20px;
  }

  .curses-info-text {
    padding-bottom: 20px;
  }

  .curses-button {
    margin: auto;
  }

  .curses-shop-img-wrapper>img {
    height: 100%;
  }

  .curses-button {
    height: 40px;
  }

  .about-us-title::before,
  .about-us-title::after {
    display: none;
  }

  .work {
    display: block;
    padding: 40px 0 0 0;
  }

  .word {
    height: 28px;
    border: 2px solid #EB00FF;
  }

  .work-title-color {
    display: inline-block;
  }

  .help {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .consult {
    justify-content: center;
  }

  .help-list-item:nth-child(-n+4)::after {
    padding: 30px 30px;
  }

  .review {
    height: 250px;
  }

  .review-card {
    padding: 10px;
  }

  .reviews {
    display: block;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .reviews-title {
    flex-basis: 100%;
    text-align: center;
  }

  .reviews-container {
    padding-top: 40px;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }

  .questions {
    padding-top: 20px;
  }
}

@media screen and (max-width: 490px) {
  .main-title-wrapper {
    background-image: none;
  }

  .main-title-button {
    width: 100%;
    padding: 0 10px;
    justify-content: center;
    height: 50px;
  }

  .main-title-text {
    padding: 25px 0;
  }
  .logo-img {
    width: 45px;
    height: 35px;
  }

  .curses {
    text-align: center;
  }

  .word {
    width: 60px;
  }

  .show-reviews-button {
    margin: auto;
    display: block;
  }

  .new-level-cards {
    grid-template-columns: minmax(200px, 1fr);
  }

  .contact-links {
    grid-template-columns: repeat(auto-fit, minmax(186px, 100%));
  }
}