@keyframes change-color-one {
  0% {
    background-color: #bd17c9;
  }

  24% {
    background-color: #bd17c9;
  }

  25% {
    background-color: #79357E;
  }

  100% {
    background-color: #79357E;
  }
}

@keyframes change-color-two {
  0% {
    background-color: #6F1577;
  }

  24% {
    background-color: #6F1577;
  }

  25% {
    background-color: #bd17c9;
  }

  50% {
    background-color: #bd17c9;
  }

  51% {
    background-color: #6F1577;
  }

  100% {
    background-color: #6F1577;
  }
}

@keyframes change-color-three {
  0% {
    background-color: #451649;
  }

  50% {
    background-color: #451649;
  }

  51% {
    background-color: #bd17c9;
  }

  75% {
    background-color: #bd17c9;
  }

  76% {
    background-color: #451649;
  }

  100% {
    background-color: #451649;
  }
}