.main-title {
  font-family: var(--dop-fonts);
  font-weight: var(--font-weight700);
  font-size: var(--font-size-main-title);
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.main-title-text {
  font-weight: 700;
  font-size: var(--font-size40);
  line-height: 110%;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}

.main-title-button {
  font-size: 2.4em;
  font-weight: var(--font-weight600);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.big-word,
.big-word-layer {
  font-family: inherit;
  font-weight: var(--font-weight700);
  font-size: 269px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--main-bgcolor-element);
}

.big-word-layer {
  -webkit-text-fill-color: rgba(235, 0, 255, 0.1);
  -webkit-text-stroke: initial;
}

.new-level-title {
  font-family: var(--dop-fonts);
  font-style: normal;
  font-weight: var(--font-weight700);
  font-size: var(--font-size40);
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.dc-group-title,
.curses-title,
.work-title,
.reviews-title,
.questions-title {
  font-family: var(--dop-fonts);
  font-weight: var(--font-weight700);
  font-size: var(--font-size50);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.new-level-card-title {
  font-weight: var(--font-weight700);
  font-size: var(--font-size20);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.new-level-card-text {
  font-size: var(--font-size16);
  line-height: 120%;
}

.dc-group-text {
  font-size: var(--font-size16);
  line-height: 120%;
}

.for-biginers-title {
  font-weight: var(--font-weight700);
  font-size: var(--font-size16);
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.for-biginers-item {
  font-size: var(--font-size16);
  line-height: 120%;
}

.about-us-title {
  font-weight: var(--font-weight600);
  font-size: var(--font-size30);
  line-height: 120%;
  text-transform: uppercase;
}

.about-us-button,
.about-us-text {
  font-weight: 500;
  font-size: var(--font-size20);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-us-text {
  text-transform: unset;
}

.underline {
  font-weight: bold;
}

.targets-item-title {
  font-family: var(--dop-fonts);
  font-size: 1em;
  line-height: 120%;
  text-transform: uppercase;
}

.curses-info-title,
.contact-title {
  font-weight: var(--font-weight600);
  font-size: var(--font-size30);
  line-height: 120%;
  text-transform: uppercase;
}

.curses-info-text {
  font-size: var(--font-size16);
  line-height: 120%;
}

.curses-button,
.btn-submit {
  font-weight: 500;
  font-size: var(--font-size20);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.help-list {
  font-size: var(--font-size18);
  text-transform: uppercase;
}

.consult {
  font-weight: var(--font-weight500);
  font-size: var(--font-size20);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.review-text-content {
  font-weight: var(--font-weight500);
  font-size: var(--font-size16);
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.student-name {
  font-size: var(--font-size14);
}

.show-reviews-button {
  font-weight: var(--font-weight500);
  font-size: var(--font-size20);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.questions-hint {
  font-size: var(--font-size16);
  line-height: 120%;
}

.input {
  font-size: var(--font-size16);
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-white);
}

.input::placeholder {
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-grey);
}

.privacy {
  font-weight: 400;
  font-size: var(--font-size14);
  line-height: 120%;
  letter-spacing: 0.02em;
}

.privacy-link {
  color: var(--color-white);
}

.mail-link {
  font-weight: var(--font-weight500);
  font-size: var(--font-size20);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.contact-link {
  font-weight: var(--font-weight500);
  font-size: var(--font-size14);
  line-height: 110%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--main-bgcolor-element);
}

.subscribe-text {
  font-size: var(--font-size14);
  line-height: 120%;
  letter-spacing: 0.02em;
}

.questions.questions-modal > .qustions-title-block > .questions-title {
  font-size: var(--font-size30);
}