:root {
  --bgcolor: #181818;
  --bg-link-footer: #313131;
  --bg-color-review: #252525;
  --color-white: #fff;
  --main-bgcolor-element: #EB00FF;
  --color-separator: #4A4A4A;
  --bg-review-color: #363636;
  --bg-modal: #9F9F9F;
  --neon-green: #6FF51D;
  --invalid-color: #E31E24;
}

ul {
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.purple {
  color: var(--main-bgcolor-element)
}


html {
  scroll-behavior: smooth;
}

.disscroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.main img:not(.avatar) {
  width: 100%;
}

.wrapper {
  position: relative;
  background: var(--bgcolor) url('./../../../image/png/bg.png') no-repeat 0 calc(100% / 5745.53 + 2845px);
  z-index: 1;
}

.wrapper-shum {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./../../../image/png/shum.png');
}

.container {
  position: relative;
  max-width: 1218px;
  margin: auto;
}

.mouse-circle {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  background-color: var(--main-bgcolor-element);
  border-radius: 50%;
  border: .5px solid #9747FF;
  transition: top .09s linear, left .09 linear; 
  transition: width .1s linear, height .1s linear;;
  pointer-events: none;
  z-index: 10;
  opacity: .8;
}
