:root {
  --main-fonts: 'Inter', sans-serif;
  --dop-fonts: 'Verdana';
  --color-white: #fff;
  --color-grey: #acacac;
  --font-weight400: 400;
  --font-weight500: 500;
  --font-weight600: 600;
  --font-weight700: 700;
  --font-weight800: 800;
  --font-size14: 1.4em;
  --font-size16: 1.6em;
  --font-size18: 1.8em;
  --font-size20: 2em;
  --font-size30: 3em;
  --font-size40: 4em;
  --font-size50: 5em;
  --font-size96: 9.6em;
}

body {
  font-family: var(--main-fonts);
  font-weight: var(--font-weight400);
  font-size: 62.5%;
  color: var(--color-white);
}


.nav {
  color: var(--color-white);
}

.item__link {
  font-weight: var(--font-weight500);
  line-height: 120%;
  font-size: var(--font-size18);
}

.contacts-button {
  font-size: var(--font-size16);
  line-height: 120%;
  letter-spacing: 0.02em;
}

.main-title {
  font-family: var(--dop-fonts);
  font-weight: var(--font-weight700);
  font-size: var(--font-size96);
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.main-title-button {
  font-family: var(--main-fonts);
  font-weight: var(--font-weight600);
  font-size: .25em;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.new-level-title {
  font-family: var(--dop-fonts);
  font-style: normal;
  font-weight: var(--font-weight700);
  font-size: var(--font-size40);
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.dc-group-title,
.curses-title,
.works-title,
.reviews-title,
.questions-title {
  font-family: var(--dop-fonts);
  font-weight: var(--font-weight700);
  font-size: var(--font-size50);;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.new-level-card-title {
  font-weight: var(--font-weight700);
  font-size: var(--font-size20);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.new-level-card-text {
  font-size: var(--font-size16);
  line-height: 120%;
}

.dc-group-text {
  font-size: var(--font-size16);
  line-height: 120%;
}

.for-biginers-title {
  font-weight: var(--font-weight700);
  font-size: var(--font-size16);
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.for-biginers-item {
  font-size: var(--font-size16);
  line-height: 120%;
}

.about-us-title {
  font-weight: var(--font-weight600);
  font-size: var(--font-size30);
  line-height: 120%;
  text-transform: uppercase;
}

.about-us-button,
.about-us-text {
  font-weight: 500;
  font-size: var(--font-size20);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-us-text {
  text-transform: unset;
}

.underline {
  font-weight: bold;
}

.targets-item-title {
  font-family: var(--dop-fonts);
  font-size: 1em;
  line-height: 120%;
  text-transform: uppercase;
}

.curses-info-title,
.contact-title {
  font-weight: var(--font-weight600);
  font-size: var(--font-size30);
  line-height: 120%;
  text-transform: uppercase;
}

.curses-info-text {
  font-size: var(--font-size16);
  line-height: 120%;
}

.curses-button,
.btn-submit {
  font-weight: 500;
  font-size: var(--font-size20);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.help-list {
  font-size: var(--font-size18);
  text-transform: uppercase;
}

.consult {
  font-weight: var(--font-weight500);
  font-size: var(--font-size20);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.review-text-content {
  font-weight: var(--font-weight500);
  font-size: var(--font-size16);
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.student-name {
  font-size: var(--font-size14);
}

.show-reviews-button {
  font-weight: var(--font-weight500);
  font-size: var(--font-size20);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.questions-hint {
  font-size: var(--font-size16);
  line-height: 120%;
}

.input {
  font-size: var(--font-size16);
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-white);
}

.input::placeholder {
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-grey);
}

.privacy {
  font-weight: 400;
  font-size: var(--font-size14);
  line-height: 120%;
  letter-spacing: 0.02em;
}

.privacy-link {
  color: var(--color-white);
}

.mail-link {
  font-weight: var(--font-weight500);
  font-size: var(--font-size20);
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.contact-link {
  font-weight: var(--font-weight500);
  font-size: var(--font-size14);
  line-height: 110%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--main-bgcolor-element);
}

.subscribe-text {
  font-size: var(--font-size14);
  line-height: 120%;
  letter-spacing: 0.02em;
}

.footer-container {
  font-size: var(--font-size14);
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  text-transform: uppercase;
}

.review-modal > .student-name,
.review-modal-text-container > .review-text-content {
  font-size: 16px;
}