.form {
  display: flex;
  flex-direction: column;
}

.input {
  border: none;
  border-bottom: 1px solid var(--main-bgcolor-element);
  background-color: transparent;
  padding-bottom: 10px;
  outline: none;
}

.form > .input {
  margin-bottom: 30px;
}

.input-email {
  position: relative;
  flex-basis: 253px;
}

.input-email > .input {
  width: 100%;
}

.input-email > .title-button-text-arrow {
  position: absolute;
  right: 0;
}

.input:focus:invalid {
  border-bottom: 1px solid var(--invalid-color);
}