.header {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-grow: 1;
}

.nav-panel {
  display: flex;
  align-items: center;
  flex-grow: .3;
  min-width: 220px;
}

.logo {
  flex-shrink: 0;
  margin-right: 50px;
  width: 67px;
  height: 55px;
}

.logo-img {
  width: 67px;
  height: 55px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.item-link {
  text-decoration: none;
  color: inherit;
}

.item-link::after {
  content: '';
  position: relative;
  display: block;
  height: 2px;
  width: 0;
  top: 5px;
  background-color: var(--main-bgcolor-element);
  transition: width .5s ease;
}

.nav-contacts {
  display: flex;
  align-items: center;
}

.social-network {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  transition: all .3s ease;
  background-color: transparent;
  width: 42px;
  height: 42px;
}

.social-network-icon > path {
  transition: all .3s ease;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 50px;
  background-color: var(--main-bgcolor-element);
  cursor: pointer;
  transition: background-color .3s ease;
  border: 1px solid var(--main-bgcolor-element);
  ;
}

.contacts-button {
  width: 227px;
  height: 51px;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--color-white)
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
}

