.questions.questions-modal {
  display: grid;
  grid-template-columns: 1fr 40px;
  width: 90vw;
  max-width: 780px;
  min-height: 443px;
  background-color: var(--bg-review-color);
  padding: 20px 0 20px 45px;
}

.modal-form-content {
  display: grid;
  grid-template-columns: 382px 1fr;
  padding-top: 20px;
}

.modal-form-content > .questions-title-block {
  border-right: 1px solid var(--color-separator);
}

.modal-form-content > .questions-title-block > .questions-title {
  text-align: left !important;
}

.modal-form-content > .form {
  padding-left: 30px;
}

.modal-form-content > .questions-title-block,
.modal-form-content > .form {
  padding-top: 40px;
}

.questions-title-block > .questions-hint {
  display: block;
  max-width: 338px;
}

.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  transition: opacity .3s linear;
}

.modal-form * {
  position: relative;
  z-index: inherit;
  
}

.modal-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-modal);
}

.questions.questions-modal > .close-menu {
  grid-area: 1/2/2/4;
  display: block;
  position: unset;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal-form-visible {
  opacity: 1;
  z-index: 5;
}