@media screen and (max-width: 768px) {
  .benefits {
    padding: 75px 0;
  }

  .benefits-cards {
    gap: 15px;
  }

  .benefit-card {
    padding: 30px;
    height: auto;
  }

}

@media screen and (max-width: 695px) {
  .rectangles {
      display: none;
    }
}

@media screen and (max-width: 490px) {
  .benefits-cards {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
