.benefits {
  padding: 140px 0;
}

.benefits-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: space-between;
  grid-gap: 45px 30px;
  
}

.benefit-card {
  padding: 40px;
  flex-basis: 386px;
  height: 206px;
  border: 1px solid var(--bg-review-color)
}

.benefit-card:first-child {
  border: none;
}

.rectangles-wrapper {
  width: 100%;
  position: relative;
}

.rect-one {
  width: 115px;
  height: 115px;
  left: 16%;
  background-color: #ADFF7B;
  z-index: 3;
}

.rect-two {
  width: 119px;
  height: 119px;
  left: 33%;
  background-color: #6FF51D;
  z-index: 2;
}

.rect-three {
  width: 123px;
  height: 123px;
  background-color: #358802;
  z-index: 1;
  left: 50%;
}

.rect {
  display: block;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  position: absolute;
}

.benefits-card-title {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 30px;
}

.benefits-card-title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 15px;
  width: 74px;
  height: 1px;
  background-color: var(--main-bgcolor-element);
}

.card-title-number {
  display: inline-block;
  margin-right: 10px;
}

