.modules-header {
  border: 1px solid var(--main-bgcolor-element);
}

.modules-body {
  border-right: 1px solid var(--main-bgcolor-element);
  border-left: 1px solid var(--main-bgcolor-element);
  border-bottom: 1px solid var(--main-bgcolor-element);
}

.modules-card-title {
  display: flex;
  align-items: center;
}

.modules-card-title::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-color: var(--main-bgcolor-element);
  margin-left: -42px;
  margin-right: 10px;
}